body{
    margin: 0px;
    background-color: #dbdcd1;
    padding:none;
}
img {
    border-style: none;
}

button:hover {
    background-color: #5e5ed0;
}

ul{
    list-style-type:none;
}
.ch-cont {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: auto;
    width: auto;
    align-items: center;
    padding:10px;
}

.header {
    color:rgb(6, 0, 30);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
    display: flex;
    justify-content: center;
    background-color: #8a8bb2;
    width:auto;
    padding:1em;
}

.title {
    color:rgb(6, 0, 30);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left:0px;
    padding:10px;
    margin:2vh;

.til {
    display: flex;
    justify-content: center;
    
}
}
.choices {
    display: flex;
    flex-direction: column;
    border-style: none;
    border-radius: 0px
}

#rock, #paper, #scissor, #comp {
    font-size: 6vh;
    text-align: center;
    padding:0.25em;
    width: 1.8em;
    height: 100%;
    margin: 10px auto;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #8a8bb2;
    color: white;
}

.vs {
    text-align: center;
}

#result {
    font-size: 30px;
    text-align: center;
    padding: 0.25em;
    width: auto;
    margin: 10px auto;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #8a8bb2;
    color: rgb(0, 0, 0);
    display: flex;
    justify-self: center;
    margin-top:8vh;
    padding:24px;
}